<!doctype html>
<!--
        _________   _  _______
       /   ___   \ | |/ ___   \
      |   /   \   ||   /   \   |
      |  |     |  ||  |     |  |
      |   \___/   ||   \___/   |
       \_______/|_| \_________/
               By Andy Bateman
-->

<!-- Hey! What are you looking at?! -->
<html lang="en" class="h-100">
  <head>
    {% include head.html %}
  </head>
  <body class="d-flex h-100 text-center text-white">
    
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="masthead-brand float-md-start mb-0">Andy Bateman</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/posts/">Stories</a>
          <a class="nav-link" href="/wellingtonhills">WLG Hills</a>
          <a class="nav-link" href="/newzealandhills/">NZ Hills</a>
          <a class="nav-link" href="/mohoe/">Mohoe</a>
        </nav>
      </div>
    </header>

{{ content }}

    <footer class="mt-auto text-white-50">
      <p>Drinking too much bubble mixture. They all just wanna be bubbles.</p>
    </footer>
  </div>
   
  <!-- Optional JavaScript; -->
  {% include scripts.html %}

  </body>
</html>
